import("graphics")
import("grDevices")
import("methods")
import("stats")
import("ggplot2")
import("knitr")
import("reshape2")
import("zoo")

exportPattern("^[a-zA-Z]")
exportClassPattern("^[a-zA-Z]")
exportMethods(`[`, phenoAmp, phenoPhase, plot, summary, tsMake)
