import(zoo, ggplot2, reshape2)
importFrom(graphics, plot)
importFrom(methods, setClass, setClassUnion, setGeneric, setMethod, setOldClass)

exportPattern("^[a-zA-Z]")
exportClassPattern("^[a-zA-Z]")
exportMethods(`[`, phenoAmp, phenoPhase, plot, summary, tsMake)
